<div class="save-the-date mx-n4 mx-sm-n5 vh-100 d-flex justify-content-center flex-column overflow-hidden">
  <div class="hero-video d-block position-absolute w-100 vh-100 text-align-center">
    {{ content.field_hero_video }}
  </div>
</div>
