<div class="save-the-date mx-n4 mx-sm-n5 min-h-100 d-flex justify-content-center flex-column ">
  <div class="hero-txt d-flex justify-content-center">
    {{ content.field_hero_text }}
  </div>
  <div class="hero-img d-block position-absolute w-100 h-100 text-align-center">
    {{ content.field_landing_image }}
  </div>
</div>
