<div id="full_page" class="w-100 h-100 position-relative m-0 p-0">
  <div id="main" class="{{ container }} py-0 px-4 px-sm-5 section mh-100">
    {{ page.content }}
  </div>

  <footer class="d-flex flex-column section mh-100">
    <div id="map"></div>
    <div class="p-5 mt-auto">
      {{ page.footer_first }}
    </div>
  </footer>
</div>
